/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/

* {
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: $text;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -360px;
    @media (min-width: $screen-sm-min) {
        margin: 0 auto -220px;
    }
    /* the bottom margin is the negative value of the footer's height */
}

.push {
    height: 360px;
    @media (min-width: $screen-sm-min) {
        height: 220px;
    }
    /* .push must be the same height as .footer */
}

.footer {
    height: 360px;
    @media (min-width: $screen-sm-min) {
        height: 220px;
        padding: 60px 0;
    }
    background-color: #e1e0e0;
    font-family: "PF Beau Sans Pro", sans-serif;
    //margin-top: 80px;
    font-weight: 500;
    //    text-align: center;
    color: #494947;
    font-size:14px;
    //    a, a:hover{
    //        color: #bcbcbc;
    //        font-size:15px;
    //    }
    .img-logo {
        height: 100px;
        margin: 0 auto;
        @media (min-width: $screen-sm-min) {
            margin: 0 30px 0 0;
            float: left;
        }
    }
    .barra-footer {
        background-image: url("../img/line-stafe-header.png");
        height: 2.5px;
        background-repeat: repeat-x;
        background-position: top top;
    }
    .socialmedia {
        margin: 70px 0 30px;
        font-size: 20px;
        text-align: center;
        a{
            color: #bcbcbc;
        }
        a:hover{
            color: #494947;
        }
        @media (min-width: $screen-sm-min) {
            margin: 30px 0;
            text-align: right;
        }
    }
    p{
        margin: 10px 0 0;
        text-align: center;
        @media (min-width: $screen-sm-min) {
            text-align: left;
        }
        img.virtuagora{
            height: 18px;
            margin-top: 2px;
        }
    }
}

// .mce-content-body{
//     padding: 8px;
//     font-size: 15px;
// }
// ============================================================
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.is-raleway{
    font-family: "Raleway", Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.is-paddingless{
    padding:0;
}
.is-marginless{
    margin:0;
}

.is-100{font-weight: 100;}
.is-200{font-weight: 200;}
.is-300{font-weight: 300;}
.is-400{font-weight: 400;}
.is-500{font-weight: 500;}
.is-600{font-weight: 600;}
.is-700{font-weight: 700;}
.is-800{font-weight: 800;}

/* start da css for da buttons */
.boton {
    border-radius: 50px;
    text-decoration: none;
    padding: 5px 25px;
    color: #fff;
    position: relative;
    display: inline-block;
    border: 0;
    &:active {
        transform: translate(0px, 5px);
        -webkit-transform: translate(0px, 5px);
        box-shadow: none !important;

    }
    &:hover, &:focus{
        text-decoration: none;
    }
    &.size-12{
        padding: 5px 25px;
        font-size: 12px;
    }
    &.size-14{
        padding: 10px 30px;
        font-size: 14px;
    }
    &.size-16{
        padding: 13px 48px;
        font-size: 16px;
    }
    &.login{
        background: #2b3b4e;
        box-shadow: 0px 5px 0px 0px #536d8c;
    }
    &.blanco{
        color: $primary;
        background: #FFF;
        box-shadow: 0px 5px 0px 0px darken(#FFF,20%);
    }
    &.blanco:hover, &.blanco:focus {
        background-color: darken(#FFF,5%);
    }
    &.primary{
        color: #FFF;
        background: $primary;
        box-shadow: 0px 5px 0px 0px darken($primary,20%);
    }
    &.primary:hover, &.primary:focus {
        background-color: darken($primary,10%);
    }
    &.blue {
        background-color: #55acee;
        box-shadow: 0px 5px 0px 0px #3C93D5;
    }

    &.blue:hover {
        background-color: #6FC6FF;
    }

    &.green {
        background-color: #2ecc71;
        box-shadow: 0px 5px 0px 0px #15B358;
    }

    &.green:hover {
        background-color: #48E68B;
    }

    &.red {
        background-color: #e74c3c;
        box-shadow: 0px 5px 0px 0px #CE3323;
    }

    &.red:hover {
        background-color: #FF6656;
    }

    &.purple {
        background-color: #9b59b6;
        box-shadow: 0px 5px 0px 0px #82409D;
    }

    &.purple:hover {
        background-color: #B573D0;
    }

    &.orange {
        background-color: #e67e22;
        box-shadow: 0px 5px 0px 0px #CD6509;
    }

    &.orange:hover {
        background-color: #FF983C;
    }

    &.yellow {
        background-color: #f1c40f;
        box-shadow: 0px 5px 0px 0px #D8AB00;
    }

    &.yellow:hover {
        background-color: #FFDE29;
    }

}


.pill{
    padding: 8px 12px;
    background-color: #FFF;
    border-radius: 50px;
    display: inline-block;
    &:hover{
        text-decoration: none;
    }
    &.blanco{
        color:$primary;
    }
    &.login{
        padding: 5px 25px;
        font-size: 12px;
        &:hover{
            background-color: #536d8c
        }
        background-color: #2b3b4e;
        color: #FFF;
    }
    &.login-comment{
         padding: 5px 25px;
        font-size: 12px;
        &:hover{
            background-color: darken($primary,10%);
        }
        background-color: $primary;
        color: #FFF;
    }
}

.block-svg{
    position: relative;
    .svg{
        position:absolute;
        width: 80%;
        height: 130%;
        top: -15%;
        left: 10%;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        z-index: -10;
        &.comentarios{
            background-image: url('../img/home-icon1.svg');
        }
        &.candado{
            background-image: url('../img/icon-login.svg');
        }
        &.registro{
            background-image: url('../img/icon-registro.svg');
            top: -14%;
        }
        &.registro-ok{
            background-image: url('../img/icon-registro-ok.svg');
        }
    }
}

.nothing-navbar{
    margin-top:140px;
}

//.btn.btn-pill{
//    font-family: "Raleway", Cambria, Cochin, Georgia, Times, Times New Roman, serif;
//    border-radius: 500px;
//    font-weight: 700;
//    font-size: 16px;
//    padding: 8.5px 40px;
//    &.btn-amarillo{
//    border: 3px solid $amarillo;
//    color: $amarillo;
//    &:hover{
//        color:#FFF;
//        background-color: $amarillo;
//    }
//    }
//}

//.text-amarillo{
//    color: $amarillo;
//}
//.text-verde{
//    color: $verde;
//}
//.text-azul{
//    color: $azul;
//}

//.form{
//        label{font-family: 'Raleway', Cambria, Cochin, Georgia, Times, Times New Roman, serif;}
//        .btn.btn-submit{
//             border-radius: 2px;
//        border: 0;
//        background-color: $azul;
//        padding: 15px 10px;
//        color: #FFF;
//        font-family: 'Raleway', Cambria, Cochin, Georgia, Times, Times New Roman, serif;
//        font-weight: 400;
//        font-size: 15px;
//        &:hover {
//            background-color: darken($azul, 10%);
//        }
//        }
//        .twitter-typeahead{
//            height: 100%;
//            width: 100%;
//        }
//}
