#eje-box{
    .block-svg{
        position: relative;
        margin-bottom:200px;
        .svg{
            position:absolute;
            width: 80%;
            height: 100%;
            top: 0;
            left: 10%;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            z-index: 0;
            &.eje1{
                background-image: url('../img/icon-eje1.svg');
            }
            &.eje2{
                background-image: url('../img/icon-eje2.svg');
            }
            &.eje3{
                background-image: url('../img/icon-eje3.svg');
            }
            &.eje4{
                background-image: url('../img/icon-eje4.svg');
            }
            &.eje5{
                background-image: url('../img/icon-eje5.svg');
            }
            &.eje6{
                background-image: url('../img/icon-eje6.svg');
            }
            &.eje7{
                background-image: url('../img/icon-eje6.svg');
            }
            &.participar-comment{
                background-image: url('../img/icon-comment.svg');
            }
            &.participar-confirmacion{
                background-image: url('../img/icon-confirmacion-comment.svg');
            }
        }

    }
    .upperbox{
        padding: 125px 0;
        h1{
            font-family: 'Raleway', Cambria, Cochin, Georgia, Times, Times New Roman, serif;
            //font-weight:700;
            margin:0;
        }
        &.small{
            padding: 25px 0;
        }
    }
    .box{
        background-color: #eeeeee;
    }

    .eje-container{
        margin-top: -150px;
        border-radius: 20px;
        margin-bottom: 120px;
        background-color: #53b5ba;
        padding:15px;
        @media (min-width: $screen-sm-min) {
            padding:30px;
        }
        @media (min-width: $screen-md-min) {
            padding:80px;
        }
        color: #FFF;
        p{
            text-align: center;
            @media (min-width: $screen-md-min) {
                font-size:14px;
                line-height: 20px;
            }
            a{
                color:#FFF;
                text-decoration: underline;
            }
        }
        .modal{
            .modal-content{
                @media (min-width: $screen-sm-min) {
                    padding:30px;
                }
            }
            .modal-header{
                border-bottom:0;
                h4{
                    font-weight: 700;
                    font-size: 35px;
                    @media (min-width: $screen-sm-min) {
                        font-size: 45px;
                    }
                }
                .comentarios-icon{
                    right: 100px;
                    width: 60px;
                    top: 50px;
                    position: absolute;
                }
                button{
                    font-size:35px;
                }
            }
            .modal-footer{
                border-top:0;
            }
            .modal-body{
                .boton.login.size-14{
                    padding:5px 30px;
                    margin-bottom: 30px;
                        width: 100%;
    text-align: center;
                    &:hover{
                        color: #FFF;
                    }
                }
                .lista-respuestas{
                    .comentario-container{
                        &.con-linea{
                            margin-top:10px;
                            padding-bottom:10px;
                            border-bottom: 1px solid $primary;
                        }
                    }
                }
                @media (min-width: $screen-sm-min) {
                    padding:15px;
                }
                a.avatar-comentarios{
                    float: left;
                    img{
                        width: 30px;
                        @media (min-width: $screen-sm-min) {
                            width: 50px;
                        }
                    }
                    &.respuestas{
                        img{
                            width: 25px
                        }
                    }
                }
            }
        }
        .participacion-container{
            margin-top: 60px;
            background-color: #FFF;
            padding:15px;
            border-radius: 15px;
            color: $text;
            @media (min-width: $screen-sm-min) {
                padding:30px;
            }
            @media (min-width: $screen-md-min) {
                padding:50px;
            }
            .block-svg{
                margin-bottom: 30px;
            }
            a.ver-comentarios-link, a.ocultar-comentarios-link{
                font-size:14px;
                color: $primary;
                text-decoration: underline;
            }
        }
        form{
            label{
                font-family: 'Raleway', serif;
                font-weight: normal;
                font-size: 16px;
            }
            .form-control{
                border: 0;
                border-bottom: 1px solid $primary;
                border-radius: 0;
                box-shadow: none;
                padding-left:0;
                padding-right:0;
                resize: none;
            }
            .btn-interes{
                width: 100%;
                .btn-primary{
                    background-color: #FFF;
                    color:$primary;
                    border-color: $primary;
                    &.active{
                        background-color: $primary;
                        color:#FFF;
                        font-weight: 600;
                    }
                }

            }
        }
        .lista-respuestas-preguntas{
            hr{
                border-color: $primary;
                margin: 40px 0 40px;
            }
        }
        .lista-respuestas{
            .comentario-container{
                &.con-linea{
                    margin-top:10px;
                    padding-bottom:10px;
                    border-bottom: 1px solid $primary;
                }
            }
        }
        .comentario-container{
            margin-top:30px;
            &.con-linea{
                margin-top:0;
                padding-bottom:20px;
                border-bottom: 1px solid $primary;
            }
            .datos-respuesta-usuario{
                margin-left:-15px;
                @media (min-width: $screen-sm-min) {
                    margin-left: 15px;
                }
                h4{
                    margin-top:15px;
                    margin-bottom:30px;
                    font-weight: 400;
                }
            }
            .panel-votacion{
                margin-top:20px;
                @media (min-width: $screen-sm-min) {
                    margin-top:25px;
                }
                :hover{
                    text-decoration: none;
                }
                .votar-respuesta-pregunta svg {
                    width: 20px;
                    height:auto;
                }
                .votar-respuesta-no-me-gusta{
                    margin-left: 5px;
                }
                .votar-respuesta-me-gusta:hover svg path{
                    fill: green;
                }
                .votar-respuesta-no-me-gusta:hover svg path{
                    fill: red;
                }
            }
            .usuario-respuestas{
                p{
                    text-align: left;
                    font-size:12px;
                    line-height:16px;
                    font-family: "Open Sans", Arial, Helvetica, sans-serif;
                    &.eje-pregunta{
                        font-weight: 600;
                    }
                }
            }
            .lista-respuestas form{
                margin-bottom: 5px;
            }
            a.avatar{
                float: none;
                @media (min-width: $screen-sm-min) {
                    float: left;
                    margin-top: 5px;
                }
                img{
                    width: 50px;
                    @media (min-width: $screen-sm-min) {
                        width: 60px;
                    }
                    &.respuesta{
                        width: 30px
                    }
                }
            }
            a.avatar-comentarios{
                float: left;
                img{
                    width: 50px;
                    @media (min-width: $screen-sm-min) {
                        width: 70px;
                    }
                }
                &.respuestas{
                    img{
                        width: 35px
                    }
                }
            }
            hr.small{
                margin: 20px 0 20px;
            }
            .form-control.respuesta{
                font-size:12px;
            }
            .comentar-respuesta-usuario{
                margin:0;
                margin-top: 20px;
                input.form-control{
                    border:1px solid #cecece;
                    padding:3px 6px 2px;
                    font-size:12px;
                }
                .btn.btn-primary{
                    background-color: #cecece;
                        padding-bottom: 7px;
                    &:hover{
                        background-color: #767676;
                    }
                    border-color: #cecece;
                    border-radius: 0;
                    font-weight: 600;
                }
            }
            .media-body{
                padding-left: 15px;
                //padding-top: 10px;
                font-size: 13px;
                font-family: "Raleway", Cambria, Cochin, Georgia, Times, Times New Roman, serif;
                .comment-cuerpo{
                    font-family:"Open Sans", Arial, Helvetica, sans-serif;
                    font-size:12px;
                    line-height: 16px;
                    strong{
                        font-size:15px;
                        font-weight: 600;
                        line-height: 30px;
                    }
                    textarea{
                        font-size: 12px;
                        line-height: 20px;
                        font-family:"Open Sans", Arial, Helvetica, sans-serif;

                    }
                }
                .verde{
                    color: green;
                }
                .rojo{
                    color: red;
                }
            }
            .btn.btn-submit{
                border-radius: 2px;
                border: 0;
                background-color: $primary;
                padding: 6px 10px;
                color: #FFF;
                font-family: 'Raleway', Cambria, Cochin, Georgia, Times, Times New Roman, serif;
                font-weight: 600;
                font-size: 13px;
                &:hover {
                    background-color: darken($primary,10%);
                }
            }
        }
    }

}
.control-pagina{
    background-color: #feab57;
    position:fixed;
    top: 40%;
    z-index: 100;
    padding: 10px 15px;
    line-height: 0;
    border-radius: 30px;
    color: $text;
    display: none;
    &:hover{
        color: $text;
    }
    &.izquierda{
        @media (min-width: $screen-sm-min) {
            display: block;
            left:5%;
        }
        @media (min-width: $screen-md-min) {
            display: block;
            left:8%;
        }
    }
    &.derecha{
        @media (min-width: $screen-sm-min) {
            display: block;
            right:5%;
        }
        @media (min-width: $screen-md-min) {
            display: block;
            right:8%;
        }
    }
    .texto-izquierdo{
        display: none;
    }
    .texto-derecha{
        display: none;
    }
    .fa-pull-left{
        margin-right: 5px;
    }
    .fa-pull-right{
        margin-left: 5px;
    }
}
