#introduccion{
    margin-top: 70px;
    padding: 50px 0 50px;
    @media (min-width: $screen-sm-min) {
        margin-top: 50px;
        padding: 70px 0 30px;
        background-image: url('../img/home-img1.jpg');
        background-position: right bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }
    @media (min-width: $screen-md-min) {
        margin-top: 60px;
        padding: 120px 0 60px;
    }
    @media (min-width: $screen-lg-min) {
        margin-top: 50px;
        padding: 140px 0 110px;
    }
    h1{
        font-size:50px;
        line-height: 50px;
        margin-bottom: 30px;
        font-weight: 400;
        @media (min-width: $screen-lg-min) {
            margin-bottom: 60px;
        }
    }
    h2{
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 20px;
        font-weight: 400;
        text-align: center;
        @media (min-width: $screen-sm-min) {
            text-align: left;
        }
    }
    p{
        font-size:14px;
        line-height: 18px;
        text-align: center;
        @media (min-width: $screen-sm-min) {
            text-align: left;
        }
        @media (min-width: $screen-md-min) {
            font-size:16px;
            line-height: 21px;
        }
        a{
            color: $primary;
            font-weight: 700;
            text-decoration: underline;
        }
    }
    .file-container{
        position:relative;
    }
    img.file{
        position: absolute;
        display:none;
        @media (min-width: $screen-sm-min) {
            display:block;
            width: 90%;
            top: 15px;
        }
        @media (min-width: $screen-md-min) {
            width: 90%;
            top: -10px;
        }
        @media (min-width: $screen-lg-min) {
            width: 95%;
            top: -30px;
        }
    }
}
.sticky{
    background-color: $primary;
    padding:25px 0;
    text-align: center;
    p{
        font-size:16px;
        font-weight: 400;
        color:#FFF;
        margin: 0;
    }
    .for-lg p{
        line-height: 35px;
    }
    .for-lg .pill{
        padding: 0px 12px;
        margin-left: 10px;
    }
    .for-mobile .pill{
        margin-top: 3px;
    }
}

.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}
//  .navbar {
//      margin-bottom: 0px;
//  }

.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}
#fortalecer{
    padding:75px 0;
    @media (min-width: $screen-md-min) {
        padding:120px 0;
    }
    @media (min-width: $screen-sm-min) {
        background-image: url('../img/home-img2-mobile.jpg');
        background-position: center bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }
    @media (min-width: $screen-md-min) {
        background-image: url('../img/home-img2.jpg');
        //    background-position: right bottom;
        //    background-size: cover;
        //    background-repeat: no-repeat;
    }
    h3{
        font-weight: 400;
        line-height: 35px;
        margin-bottom: 45px;
        text-align: center;
        @media (min-width: $screen-sm-min) {
            text-align: left;
        }
    }
    p{
        font-size:16px;
        text-align: center;
        @media (min-width: $screen-sm-min) {
            text-align: left;
        }
        a{
            color: $primary;
            text-decoration: underline;
            font-weight: 700;
        }
    }
}


#involucra{
    position: relative;
    padding:75px 0;
    background-color: $primary;
    background-image: url('../img/home-img3.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    @media (min-width: $screen-md-min) {
        padding:100px 0;
    }
    img{
        width: 60%;
        left: 20%;
        bottom: -76px;
        position: relative;
        @media (min-width: $screen-sm-min) {
            width: auto;
            position:absolute;
            bottom: 0;
            left: 10%;
            height:50%;

        }
        @media (min-width: $screen-md-min) {
            left: 15%;
        }
    }
    h3{
        font-weight: 400;
        line-height: 35px;
        color: #FFF;
        text-align: center;
        @media (min-width: $screen-sm-min) {
            text-align: right;
        }
    }
    p{
        font-size:16px;
        text-align: center;
        @media (min-width: $screen-sm-min) {
            text-align: left;
        }
        a{
            color: $primary;
            text-decoration: underline;
            font-weight: 700;
        }
    }
}

#action{
    padding: 100px 0;
    h2{
        font-size:28px;
        line-height: 35px;
        margin-bottom: 30px;
        text-align: center;
        font-weight: 400;
    }
    p{
        font-size:15px;
        line-height: 20px;
        text-align: center;

    }
    a{
        margin-top: 60px;
        text-align: center;
    }
}

//    .white-dots {
//        position: absolute;
//        width: 100%;
//        margin-top: -100px;
//        img {
//            width: 7px;
//            margin: 0 auto;
//            display: block;
//            max-width: 100%;
//            height: auto;
//        }
//    }
//
//    .body-dots {
//        width: 100%;
//        img {
//            width: 32px;
//            margin: 22px auto;
//            display: block;
//            max-width: 100%;
//            height: auto;
//        }
//    }
//
//    #quees {
//        background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 15%), url(../img/home/fila2bg.jpg) no-repeat center center;
//        -webkit-background-size: cover;
//        -moz-background-size: cover;
//        -o-background-size: cover;
//        background-size: cover;
//        h1 {
//            font-size: 27px;
//            font-weight: 900;
//            color: $verde;
//            text-align: center;
//            margin-top: 75px;
//            @media (min-width: $screen-sm-min) {
//                font-size: 45px;
//            }
//            @media (min-width: $screen-md-min) {
//                font-weight: 900;
//                color: $verde;
//                text-align: right;
//                margin-top: 125px;
//            }
//        }
//        p {
//            font-size: 12.5px;
//            line-height: 23.5px;
//            color: #504f51;
//            margin-top: 37.5px;
//            margin-bottom: 35px;
//            text-align: center;
//            @media (min-width: $screen-sm-min) {
//                font-size: 15px;
//                line-height: 27.5px;
//            }
//            @media (min-width: $screen-md-min) {
//                color: $colorTexto;
//                margin-top: 130px;
//                text-align: left;
//            }
//        }
//        a.btn.btn-quees {
//            border: 1px solid $verde;
//            color: $verde;
//            background-color: transparent;
//            font-family: "Raleway", serif;
//            font-size: 15px;
//            font-weight: 600;
//            padding: 8.5px 40px;
//            margin-top: 27.5px;
//            &:hover {
//                background-color: $verde;
//                color: #FFF;
//            }
//        }
//    }
//
//    #importancia {
//        background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 15%), url(../img/home/fila2bgn.jpg) no-repeat bottom center;
//        -webkit-background-size: cover;
//        -moz-background-size: cover;
//        -o-background-size: cover;
//        background-size: cover;
//        h1 {
//            font-size: 27px;
//            font-weight: 900;
//            color: $azul;
//            text-align: center;
//            margin-top: 25px;
//            @media (min-width: $screen-sm-min) {
//                font-size: 45px;
//            }
//            @media (min-width: $screen-md-min) {
//                font-weight: 900;
//                color: $azul;
//                text-align: left;
//                //margin-top: 125px;
//                margin-top: 0;
//            }
//        }
//        p {
//            font-size: 12.5px;
//            line-height: 23.5px;
//            color: #504f51;
//            margin-top: 37.5px;
//            margin-bottom: 35px;
//            text-align: center;
//            @media (min-width: $screen-sm-min) {
//                font-size: 15px;
//                line-height: 27.5px;
//            }
//            @media (min-width: $screen-md-min) {
//                color: $colorTexto;
//                //margin-top: 130px;
//                margin-top: 0;
//                text-align: right;
//            }
//        }
//        a.btn.btn-importancia {
//            border: 1px solid $azul;
//            color: $azul;
//            background-color: transparent;
//            font-family: "Raleway", serif;
//            font-size: 15px;
//            font-weight: 600;
//            padding: 8.5px 40px;
//            margin-top: 27.5px;
//            &:hover {
//                background-color: $azul;
//                color: #FFF;
//            }
//        }
//    }
//
//    #ejes {
//        h1 {
//            font-size: 27px;
//            @media (min-width: $screen-sm-min) {
//                font-size: 45px;
//                margin-top: 0;
//            }
//            font-weight: 900;
//            color: $amarillo;
//            margin-top: 25px;
//        }
//        h2.titulo {
//            font-size: 30px;
//            font-weight: 700;
//            color: $amarillo;
//            margin-bottom: 33.3px;
//        }
//        p.descripcion {
//            font-size: 12.5px;
//            line-height: 23.5px;
//            text-align: center;
//            color: $colorTexto;
//            margin-bottom: 25px;
//            @media (min-width: $screen-sm-min) {
//                font-size: 15px;
//                line-height: 27.5px;
//            }
//        }
//        img.little-dot {
//            width: 7px;
//            height: auto;
//            margin: 20px auto 35px;
//        }
//        .line {
//            height: 3px;
//            background-color: #eaeaea;
//            z-index: -1;
//            position: absolute;
//            width: 100%;
//            top: 47px;
//            left: 0;
//        }
//        .slick-dots {
//            bottom: -40px;
//        }
//        .slick-dots li.slick-active button:before,
//        .slick-dots li button:hover:before {
//            color: $amarillo;
//            opacity: 1;
//        }
//        .slick-dots li button:before {
//            font-size: 12px;
//        }
//        .carrousel {
//            img {
//                height: 100px;
//                margin: 0 auto;
//            }
//            .line {
//                height: 3px;
//                background-color: #eaeaea;
//                z-index: -1;
//                position: absolute;
//                width: 100%;
//                top: 47px;
//                left: 0;
//                &.amarillo {
//                    background-color: $amarillo;
//                }
//                &.last {
//                    width: 50%;
//                }
//                &.first {
//                    width: 50%;
//                    left: 50%;
//                }
//            }
//        }
//        .footer-carrousel {
//            margin-top: 20px;
//        }
//        .hands {
//            margin-top: 40px;
//            position: relative;
//            img {
//                height: 120px;
//                margin: 0 auto;
//                width: 100%;
//            }
//            .line-hands {
//                height: 3px;
//                background-color: $amarillo;
//                z-index: -1;
//                position: absolute;
//                width: 100%;
//                bottom: 0;
//                left: 0;
//            }
//        }
//    }
//
//    #testimonios {
//        .box {
//            background: linear-gradient(to right, #44ac6d 0%, #52acdd 100%);
//            margin: 75px 0;
//            padding: 50px 23px;
//            @media (min-width: $screen-sm-min) {
//                padding: 65px 60px;
//            }
//            @media (min-width: $screen-md-min) {
//                padding: 65px 95px;
//            }
//        }
//        .testimonio {
//            color: #FFF;
//            font-size: 15px;
//            p {
//                margin-bottom: 20px;
//            }
//        }
//        .slick-dots {
//            bottom: -40px;
//        }
//        .slick-dots li.slick-active button:before,
//        .slick-dots li button:hover:before {
//            color: #FFF;
//            opacity: 1;
//        }
//        .slick-dots li button:before {
//            font-size: 12px;
//        }
//        .autor {
//            font-weight: 700;
//        }
//        .titulo {
//            font-weight: 600;
//        }
//    }
