{% extends "salud/master.twig" %}

{% block titulo %}{% endblock titulo %}
{% block linkhead %}
{% endblock %}
{% block header %}

{% endblock header %}
{% block body %}
<div id="introduccion">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-5 file-container">
                <img src="{{baseUrl()}}/assets-salud/img/home-paper.svg" class="file" alt="">
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-6">
                <h1 class="hidden-sm hidden-xs grande">Acuerdo provincial<br>por el <b>derecho<br>a la salud</b></h1>
                <h2 class="hidden-md hidden-lg chico">Acuerdo provincial<br>por el <b>derecho<br>a la salud</b></h2>
                <p>Desde el gobierno de la provincia de Santa Fe, nos proponemos un diálogo ciudadano para la construcción conjunta de las bases que guíen nuestro sistema de salud provincial, fundamentadas en la experiencia de la población santafesina y sus derechos adquiridos. </p>
                <br>
                <p><a href="#">Registrate</a> o <a href="">Inicia sesión</a></p>
            </div>
        </div>
    </div>
</div>
<div class="sticky hidden-md hidden-lg">
    <div class="container">
        <div class="row hidden-xs hidden-sm">
            <div class="col-xs-12 for-lg">
                <p class="is-raleway">Queremos saber tu opinión <span class="is-700">¡tu participación es muy importante para nosotros!</span> <a href="#" class="pill blanco is-700">¿Como participar?</a></p>
            </div>
        </div>
        <div class="row hidden-md hidden-lg for-mobile">
            <div class="col-xs-12 col-sm-8">
                <p class="is-raleway">Queremos saber tu opinion <span class="is-700">¡tu participación es muy importante para nosotros!</span></p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <a href="#" class="pill blanco is-600">¿Como participar!</a>
            </div>
        </div>
    </div>
</div>
 <div id="fakesticky" class="sticky hidden-xs hidden-sm" style="display:none;">
    <div class="container">
        <div class="row hidden-xs hidden-sm">
            <div class="col-xs-12 for-lg">
                <p class="is-raleway">Queremos saber tu opinión <span class="is-700">¡tu participación es muy importante para nosotros!</span> <a href="#" class="pill blanco is-700">¿Como participar?</a></p>
            </div>
        </div>
        <div class="row hidden-md hidden-lg for-mobile">
            <div class="col-xs-12 col-sm-8">
                <p class="is-raleway">Queremos saber tu opinion <span class="is-700">¡tu participación es muy importante para nosotros!</span></p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <a href="#" class="pill blanco is-600">¿Como participar!</a>
            </div>
        </div>
    </div>
</div>
<div id="stickyaffix" class="sticky affix hidden-xs hidden-sm" data-spy="affix" data-offset-top="600">
    <div class="container">
        <div class="row hidden-xs hidden-sm">
            <div class="col-xs-12 for-lg">
                <p class="is-raleway">Queremos saber tu opinión <span class="is-700">¡tu participación es muy importante para nosotros!</span> <a href="#" class="pill blanco is-700">¿Como participar?</a></p>
            </div>
        </div>
        <div class="row hidden-md hidden-lg for-mobile">
            <div class="col-xs-12 col-sm-8">
                <p class="is-raleway">Queremos saber tu opinion <span class="is-700">¡tu participación es muy importante para nosotros!</span></p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <a href="#" class="pill blanco is-600">¿Como participar!</a>
            </div>
        </div>
    </div>
</div>
<div id="fortalecer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
                <h3>Queremos <b>fortalecer un proyecto común</b>, compromiso de todos los ciudadanos, trabajadores e instituciones de la sociedad civil para pensar <b>qué sistema de salud queremos</b> para nosotros y nuestras generaciones futuras. </h3>
                <p>Conocé nuestros <a href="#">Principios y valores</a></p>
            </div>
        </div>
    </div>
</div>
<div id="involucra" >
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-6 col-sm-offset-5 ">
                <h3><b>La salud nos involucra y nos trasciende</b>, es una construccion social/colectiva que no puede ser definida desde una mirada única sino que <b>debe ser el resultado de distintas perspectivas que participan, dialogan, acuerda y asumen compromisos</b> para fortalecer el acceso y al cobertura</h3>
            </div>

        </div>
    </div>
    <img src="{{baseUrl()}}/assets-salud/img/familia-icon.svg" alt="">
</div>
<div id="action">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
               <div class="block-svg">
                   <div class="svg comentarios"></div>
                <h2>Tu voz, su voz, <b>todas las voces son fundamentales en esta construcción</b>, para que aquellos derechos que hemos adquirido y aquellos que queden por trabajar confluyan en un acuerdo provincial por la salud.</h2>
                <p>La participación es uno de los principios fundamentales del Sistema de Salud, a partir de la intervención de la comunidad en las decisiones relacionadas con los servicios de salud de su comunidad.<br>Para fomentar la participación se generarán espacios plurales en todo el territorio provincial como también en este espacio virtual, donde la ciudadanía pueda informarse y expresar su opinión sobre los asuntos abiertos a la deliberación pública.</p>
               </div>
                <div class="text-center">

                <a href="javascript:void(0)" class="boton primary size-16  is-raleway is-700">Participá</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
{% block scripts %}
<script>
$('#stickyaffix').on('affixed.bs.affix', function () {
  $('#fakesticky').show();
})
    $('#stickyaffix').on('affixed-top.bs.affix', function () {
  $('#fakesticky').hide();
})
</script>
{% endblock scripts %}
