{% extends "salud/master.twig" %}
{% set nav = 0 %}
{% block titulo %}Terminos y condiciones{% endblock titulo %}
{% block linkhead %}

{% endblock %}
{% block header %}
{% endblock header %}
{% block body %}
<div class="nothing-navbar"></div>
<div id="static-box">
    <div class="container">
        <div class="block-svg">
            <div class="svg terminos"></div>
            <div class="row upperbox">
                <div class="col-xs-12 col text-center">
                    <h1><b>Términos</b> y condiciones</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container ">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 box tos">
                <p><i>Bienvenidos al sitio Santa Fe es Salud del Gobierno de la Provincia de Santa Fe (en adelante Gobierno Provincial). El objeto del presente es fortalecer un proyecto común, un compromiso de todos los ciudadanos, trabajadores e instituciones de la sociedad civil para pensar qué sistema de salud queremos para nosotros y nuestras generaciones futuras.</i></p>
                <p><i>El sitio Santa Fe es Salud es un proyecto que construye puentes para generar encuentro y diálogo; sus bases son la participación y el compromiso con la comunidad santafesina, como forma de seguir consolidando el Sistema de Salud Provincial, reconociendo nuestra historia para incidir en el presente y construir el futuro juntos.</i></p>
                <p><i>Desde el gobierno de la provincia de Santa Fe, nos proponemos un diálogo ciudadano para construir juntos las bases que guíen nuestro sistema de salud, fundamentadas en la experiencia de la población y sus derechos adquiridos.</i></p>
                <br>
                <h4><b>El uso del Portal está sujeto a las siguientes condiciones y políticas de privacidad:</b></h4>
                <br>
                <h3>Términos y condiciones</h3>
                <h4>1-Alcance</h4>
                <p>Los presentes Términos y Condiciones son aplicables al siguiente Activo Digital: <a href="http://www.santafe.gob.ar/santafeessalud" style="font-size:12px;">www.santafe.gob.ar/santafeessalud</a></p>
                <p>Asimismo, se extienden a cualquier otra aplicación web, móvil, participativa o sitio web desarrollado por o para el Gobierno Provincial, actual o que se implemente en el futuro, en relación con lo antes mencionado.</p>
                <p>El usuario (en adelante el “Usuario y/o Ciudadano”) entiende que el acceso y uso de tal Activo Digitals resultará en la aceptación de los presentes Términos y Condiciones y Políticas de Privacidad. </p>
                <h4>2-Responsabilidad</h4>
                <p>El Gobierno de la Provincia de Santa Fe (en adelante el “Gobierno Provincial”) no se responsabiliza por daños y pérdidas que surjan en relación con las consultas o visitas realizadas.
                <p>El Gobierno Provincial toma recaudos para que la transmisión de información sea segura no pudiendo garantizar completamente la inviolabilidad de la misma. El usuario asume este riesgo.
                <p>El usuario se compromete a:
                <ul>
                    <li>No intentar acceder a datos restringidos o a intentar violar las barreras de seguridad para llegar a ellos</li>
                    <li>No realizar búsquedas de vulnerabilidades o explotación de las mismas para cualquier fin</li>
                    <li>No divulgar información acerca de la detección de vulnerabilidades encontradas en el sitio</li>
                </ul>
                <h4>3-Propiedad Intelectual</h4>
                <p>El Gobierno Provincial licencia todos sus contenidos bajo la licencia © Atribución-CompartirIgual 2.5 Argentina, cuyo texto legal puede encontrarse en: <a href="https://creativecommons.org/licenses/by-sa/2.5/ar/legalcode" style="font-size:12px;">https://creativecommons.org/licenses/by-sa/2.5/ar/legalcode</a></p>
                <h4>4-Enlaces con otros Sitios, Productos y Servicios</h4>
                <p>Los Activos Digitales pueden contener enlaces hacia sitios, productos y servicios de terceros. El Gobierno Provincial no administra ni controla esos sitios, productos y servicios y no es responsable de sus contenidos ni de cualquier daño y perjuicio que tales contenidos, productos y servicios pudieran causar.</p>
                <h3>Política de privacidad</h3>
                <p><i>De conformidad a lo dispuesto en la Constitución Nacional (art 19 y 43) y la Ley Nº 25326 de Protección de Datos Personales, se señala lo siguiente:</i></p>
                <p><i>El Gobierno Provincial pone en conocimiento las siguientes Política de Privacidad, a fin de resguardar la seguridad, confidencialidad y privacidad de los usuarios y/o ciudadanos visitantes de los sitios web arriba mencionados y establecer los criterios para el uso de los diferentes activos digitales que el Gobierno Provincial, pone a disposición de los Ciudadanos.
                    <h4>1-Datos Personales</h4>
                    </i></p>
                <p>Proporcionar los Datos Personales no es condición para el uso de los Productos Digitales y los servicios vinculados. El Usuario no se encuentra obligado a brindar sus Datos Personales, salvo en aquellos servicios donde se especifique lo contrario.</p>
                <h4>2-Uso General sin Registro</h4>
                <p>La utilización de los Activos Digitales no requiere que el Usuario suministre Datos Personales, sin embargo, se podrá recolectar:</p>
                <ul>
                    <li>Datos sobre el dispositivo: es posible recoger datos específicos sobre el dispositivo del Usuario como, por ejemplo, el modelo de equipo, la versión del sistema operativo, los identificadores únicos y los datos sobre la red móvil.</li>
                    <li>Datos sobre la ubicación física: al utilizar un Activo Digital que pueda registrar la ubicación física del Usuario, es posible llevar a cabo la recolección y el tratamiento de datos acerca de la ubicación real del Usuario como, por ejemplo, las señales de GPS enviadas por un dispositivo móvil. También es posible utilizar diferentes tecnologías para determinar la ubicación, como los datos de los sensores del dispositivo que proporcionen, por ejemplo, información sobre los puntos de acceso Wi-Fi y las antenas de telefonía móvil más cercanos. En el caso de no estar registrado el Usuario, estos datos serán almacenados en forma anónima.</li>
                    <li>Cookies e identificadores anónimos: es posible utilizar diferentes tecnologías para recoger y almacenar datos cuando el Usuario accede a un servicio prestado por el Gobierno Provincial, incluyendo el envío de una o varias cookies o de identificadores anónimos a tu dispositivo.</li>
                    <li>Recolectamos información estadística anónima para la evaluación y mejora del servicio a través de un servicio prestado por terceros.</li>
                </ul>
                <h4>3-Finalidad de los Datos Recolectados</h4>
                <p>Los datos recolectados tendrán por finalidad:</p>
                <ul>
                    <li>Optimizar los servicios brindados por el Gobierno Provincial.</li>
                    <li>Obtener estadísticas de uso y niveles de servicio del Gobierno Provincial.</li>
                </ul>
                <h4>4-Responsabilidad</h4>
                <p>El Gobierno Provincial no controla ni es responsable por el accionar de otros sitios web y otros productos y servicios a los cuales se puede acceder por medio de los Activos Digitales.</p>
                <h4>5-Modificación</h4>
                <p>Los usuarios declaran conocer y aceptar la circunstancia relativa a que el Gobierno Provincial podrá en cualquier momento modificar el todo o parte de las presentes condiciones de uso y políticas de privacidad, conforme la legislación vigente o políticas del organismo.</p>
                <h4>6-Derecho Aplicable y Jurisdicción</h4>
                <p>Los presentes Términos y Condiciones y Política de Privacidad se rigen por las leyes de la República Argentina.</p>
                <p>Cualquier disputa, controversia o reclamación derivada de estas condiciones de uso, se resolverán exclusivamente ante los juzgados competentes de la Provincia de Santa Fe.</p>
                <h4>Sobre el uso con Registro</h4>
                <h4>1-Alcance</h4>
                <p>Estos términos aplican para: <a href="http://www.santafe.gob.ar/santafeessalud" style="font-size:12px;">www.santafe.gob.ar/santafeessalud</a></p>
                <p>El usuario (en adelante el “Usuario y/o Ciudadano”) entiende que el acceso y uso de tales Activos Digitales resultará en la aceptación de los presentes Términos y Condiciones y Políticas de Privacidad. </p>
                <h4>2-Responsabilidad</h4>
                <p>El Gobierno Provincial no puede garantizar que la transmisión de información por parte de los usuarios sea completamente segura. El usuario asume este riesgo.</p>
                <p>El usuario se compromete a:</p>
                <ul>
                    <li>No intentar acceder a datos restringidos o a intentar violar las barreras de seguridad para llegar a ellos</li>
                    <li>No realizar búsquedas de vulnerabilidades o explotación de las mismas para cualquier fin</li>
                    <li>No divulgar información acerca de la detección de vulnerabilidades encontradas en el sitio</li>
                    <li>Enviar información de vulnerabilidades detectadas en el sitio a</li>
                </ul>
                <h4>3-Modificación de términos y vigencia</h4>
                <p>El Gobierno Provincial puede alterar las condiciones de estos términos en cualquier momento.</p>
                <h4>4-Enlaces con sitios, productos y servicios de terceros</h4>
                <p>El Sitio Web puede contener enlaces hacia otros sitios, productos y servicios los que son propiedad y operados por terceros. El Gobierno Provincial advierte que no administra ni controla estos sitios (fuera del dominio www.santafe.gov.ar/santafeessalud) y no será responsable de sus contenidos ni de cualquier daño o perjuicio causado por tales contenidos, productos o servicios disponibles en dichos otros sitios.</p>
                <h4>5-Políticas de Privacidad:</h4>
                <p><i>De conformidad a lo dispuesto en la Constitución Nacional (art 19 y 43) y la Ley Nº 25326 de Protección de Datos Personales, se señala lo siguiente:</i></p>
                <p><i>El Gobierno Provincial pone en conocimiento las siguientes Política de Privacidad, a fin de resguardar la seguridad, confidencialidad y privacidad de los usuarios y/o ciudadanos visitantes de los sitios web arriba mencionados y establecer los criterios para el uso de los diferentes activos digitales que el Gobierno Provincial, pone a disposición de los Ciudadanos.</i></p>
                <p>Como usuario de nuestros servicios, queremos informarte claramente acerca de cómo utilizamos tus datos y cómo puedes proteger tu privacidad.</p>
                <h4>Uso General sin Registro</h4>
                <p>Datos sobre el dispositivo: Podremos recoger datos específicos sobre tu dispositivo (como, por ejemplo, el modelo de equipo, la versión del sistema operativo, los identificadores únicos y los datos sobre la red móvil).</p>
                <p>Datos sobre tu ubicación física: Al utilizar un activo digital del Gobierno Provincial que pueda registrar tu ubicación física, podremos llevar a cabo la recolección y el tratamiento de datos acerca de tu ubicación real como, por ejemplo, las señales de GPS enviadas por un dispositivo móvil. También podremos utilizar diferentes tecnologías para determinar la ubicación, como los datos de los sensores del dispositivo que proporcionen, por ejemplo, información sobre los puntos de acceso Wi-Fi y las antenas de telefonía móvil más cercanos.</p>
                <p>Cookies e identificadores anónimos: Utilizamos diferentes tecnologías para recoger y almacenar datos cuando accedes a un servicio del Gobierno Provincial, incluyendo el envío de una o varias cookies o de identificadores anónimos a tu dispositivo.</p>
                <h4>Uso General con Registro</h4>
                <p>La Información Personal (información personal del usuario que se registra), puede contener campos obligatorios, a saber:</p>
                <ul>
                    <li>Nombre y Apellido o Razón Social</li>
                    <li>Correo electrónico</li>
                    <li>Fecha de nacimiento</li>
                    <li>Departamento y Localidad</li>
                    <li>Ocupación</li>
                </ul>
                <h4>Sobre el uso personal de la información</h4>
                <p>Los datos recolectados podrán ser utilizados para:</p>
                <ul>
                    <li>Responder los pedidos de información pública.</li>
                    <li>Optimizar las respuestas de pedidos de información pública.</li>
                    <li>Obtener métricas de uso y niveles de servicio en el Gobierno Provincial.</li>
                    </ul>
                <p>El Gobierno Provincial hará todo lo posible por garantizar la confidencialidad de la información personal solicitada, y de aquellos otros datos que así lo requieran, intentando que que terceros ajenos al mismo no puedan acceder a ella.</p>
                <p>La información personal no será vendida o transferida a otras organizaciones, y no se entregará a empresas de publicidad.</p>
                <p>Es importante señalar que son los usuarios quienes garantizan y responden, en cualquier caso, por la veracidad, exactitud, vigencia y autenticidad de la información personal facilitada.</p>
                <h4>Seguridad</h4>
                <p>El Gobierno Provincial mantendrá absoluta confidencialidad de los datos personales.</p>
                <h4>Modificaciones</h4>
                <p>El Gobierno Provincial podrá modificar en cualquier momento los términos y condiciones de estas Políticas de Privacidad y confidencialidad y/o las prácticas de envío de e-mails.</p>
                <h4>Derecho Aplicable y Jurisdicción</h4>
                <p>Los presentes Términos y Condiciones y Política de Privacidad se rigen por las leyes de la República Argentina.</p>
                <p>Cualquier disputa, controversia o reclamación derivada de estas condiciones de uso, se resolverán exclusivamente ante los juzgados competentes de la Provincia de Santa Fe</p>


                <br><br>
                <div class="text-center">
                    <a href="{{urlFor('shwIndex')}}"><i class="fa fa-chevron-left fa-fw"></i>Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
{% block scripts %}

{% endblock scripts %}
